@import url('https://fonts.googleapis.com/css2?family=MedievalSharp&family=Pirata+One&display=swap');


:root {
    --violeta: #dabfffff;
    --roxo: #907ad6ff;
    --ultra-violeta: #4f518cff;
    --azul-profundo: #2c2a4aff;
    --titulo: "Pirata One", system-ui;
    --texto: "Macondo", cursive;
}
body{
    background-color: var(--ultra-violeta);
    font-family: var(--roxo);
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}
main{
    margin-top: 20px;
    max-width: 90%;
    text-align: center;
}
button{
    font-family: var(--titulo);
    background-color: var(--violeta);
    color: var(--azul-profundo);
    border: 2px solid var(--azul-profundol);
    padding: 20px 30px;
    margin: 10px 0;
    cursor: pointer;
    border-radius: 10px;
    font-size: 20px;
}
button:hover{
    background-color: var(--ultra-violeta);
    color: var(--roxo);
    transition: 0.5s;
}

.passo{
    font-size: 24px;
    display: none;
}

.passo.ativo{
    display: block;
}
