@import url('https://fonts.googleapis.com/css2?family=MedievalSharp&family=Pirata+One&display=swap');


:root {
    --violeta: #dabfffff;
    --roxo: #907ad6ff;
    --ultra-violeta: #4f518cff;
    --azul-profundo: #2c2a4aff;
    --titulo: "Pirata One", system-ui;
    --texto: "MedievalSharp", cursive;
}

body {
    background-color: var(--ultra-violeta);
    font-family: var(--texto);
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

main {
    margin-top: 20px;
    max-width: 90%;
    text-align: center;
}

button {}

button:hover {
    background-color: var(--azul-profundo);
    color: var(--violeta);
    transition: 0.5s;
}

.passo {
    font-size: 24px;
    display: none;
}

.passo.ativo {
    display: block;
}

img {
    width: 40%;
    border-radius: 15px;
    box-shadow: 2px 2px 10px black;
    font-family var (--titulo);
    background-color var (--violeta);
    color var (--roxo) border 5px solid
}

button:hover {
    background-color: var(--roxo);
    transition: 0.5s;
}

.passo {
    font-size: 24px;
    display: none;
}

.passo.ativo {
    display: block;
}

img {
    width: 40%;
    border-radius: 15px;
    box-shadow: 2px 2px 10px black;
}