@import url('https://fonts.googleapis.com/css2?family=MedievalSharp&family=Pirata+One&display=swap');


:root {
    --violeta: #dabfffff;
    --roxo: #907ad6ff;
    --ultra-violeta: #4f518cff;
    --azul-profundo: #2c2a4aff;
    --titulo: "Pirata One", system-ui;
    --texto:
}
